.inicio__repositorio {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 1200px;
}

.inicio__repositorio:hover {
    overflow: auto;
}

.inicio__repositorio__imagem {
    border-radius: 5px;
    box-shadow: 2px 2px 10px #15181850;
    margin-bottom: 1rem;
    margin-right: 25px;
    margin-top: 1rem;
    width: 315px;
}
